html {
  background-color: #00274c;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  margin-top: 20px;
}

h1 {
  font-size: 65px;
  font-weight: 400;
  line-height: 65px;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
}

h3 {
  font-size: 15px;
  line-height: 22px;
}

.title {
  font-weight: 900;
}

.grid {
  display: grid;
  grid-template-columns: 2% 10% 76% 10% 2%;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-template-areas:
  ". . photo . ."
  ". text text text ."
  ". gallery gallery gallery ."
  ". footer footer footer .";
}

.photo {
  grid-area: photo;
}

.text {
  grid-area: text;
}

.gallery {
  grid-area: gallery;
}

.footer {
  grid-area: footer;
}
