html {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #00274c;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

footer {
  background-color: #FFCB05;
}

h1 {
  font-size: 70px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
}

h3 {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
}

.title {
  font-size: 70px;
  color: #00274c;
  font-weight: 900;
  line-height: 50px;
  padding-left: 6px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 40px;
    line-height: 29px;
  }
}

.emphasis {
  font-size: 50px;
  color: #FF0000;
  font-weight: 900;
  line-height: 35px;
  padding-left: 6px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .emphasis {
    font-size: 30px;
    line-height: 21px;
  }
}

.container {
  background: #FFCB05;
  color: #00274c;
  border: 4px solid #00274c;
  border-radius: 8px;
  margin-bottom: 15px;
  font-weight: normal;
}

.container h3 {
  font-size: 15px;
  line-height: 22px;
  margin: 5px;
  font-weight: 500;
  font-weight: normal;
}

.container a {
  color: #007CE1;
}

.container a:hover {
  color: #01265D;
  font-weight: bold;
}

.containerbutton {
  background: #FFCB05;
  color: #00274c;
  border: 2px solid #00274c;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-right: 10px;
  text-decoration: none;
  display: inline-block !important;
  width: 43px;
  height: 36px;
}

.containerbutton:hover {
  background-color: #FFFFFF;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 2% 10% 76% 10% 2%;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-template-areas:
  ". . photo . ."
  ". text text text ."
  ". text text text ."
  ". text text text ."
}

.photo {
  grid-area: photo;
}

.text {
  grid-area: text;
}
