html {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #00274c;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

footer {
  background-color: #FFCB05;
}

h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 900;
  color: #00274c;
}

h1 .smallh1 {
  font-size: .01px;
  line-height: .01px;
  font-weight: 1;
  color: #ffffff;
  margin: 0px;
}

h1 a {
  font-weight: 400;
  color: #007CE1;
  text-decoration: none;
}

h1 a:hover {
  color: #01265D;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  color: #00274c;
}

h3 {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
  color: #00274c;
}

h3 a {
  font-weight: normal;
  color: #007CE1;
  text-decoration: none;
}

h3 a:hover {
  font-weight: bold;
  color: #01265D;
}

h4 {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
  color: #00274c;
}

mark {
  color: #00274c !important;
  background-color: #FFCB05;
}

.tab {
  margin-left: 40px;
}

li a {
  font-weight: normal;
  color: #007CE1;
  text-decoration: none;
}

li a:hover {
  font-weight: bold;
  color: #01265D;
}

@media screen and (max-width: 480px){
h1 {
  text-align: center;
  font-size: 34px;
  line-height: 34px;
}}

@media screen and (max-width: 480px) {
h2 {
  text-align: center;
  font-size: 25px;
}}

.title {
  font-size: 70px;
  color: #00274c;
  font-weight: 900;
  line-height: 50px;
  padding-left: 6px;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 40px;
    line-height: 29px;
  }
}

.titlere {
  font-size: 70px;
  color: #00274c !important;
  font-weight: 900;
  line-height: 65px;
  padding-left: 6px;
}

@media screen and (max-width: 600px) {
  .titlere {
    font-size: 40px;
    line-height: 35px;
  }
}

.empty-state {
  display: block;
}

.emphasis {
  font-size: 50px;
  color: #FF0000;
  font-weight: 900;
  line-height: 35px;
  padding-left: 6px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .emphasis {
    font-size: 20px;
    line-height: 18px;
  }
}

.container {
  background: #FFCB05;
  color: #00274c;
  border: 4px solid #00274c;
  border-radius: 8px;
  margin-bottom: 15px;
  font-weight: normal;
}

.container h3 {
  font-size: 15px;
  line-height: 22px;
  margin: 5px;
  font-weight: 500;
  font-weight: normal;
}

.container a {
  color: #007CE1;
}

.container a:hover {
  color: #01265D;
  font-weight: bold;
}

.containerbutton {
  background: #FFCB05;
  color: #00274c;
  border: 2px solid #00274c;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-right: 10px;
  text-decoration: none;
  display: inline-block !important;
  width: 43px;
  height: 36px;
}

.containerbutton:hover {
  background-color: #FFFFFF;
  font-weight: bold;
}

.containerre {
  background: #ffffff;
  color: #00274c;
  border: 4px solid #00274c;
  border-radius: 8px;
  margin-bottom: 15px;
  font-weight: normal;
}

.grid {
  display: grid;
  grid-template-columns: 2% 10% 76% 10% 2%;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-template-areas:
  ". . photo . ."
  ". text text text ."
  ". . resources . ."
}

.photo {
  grid-area: photo;
}

.text {
  grid-area: text;
}

.resources {
  grid-area: photo;
}

.myform .entry {
  background: #FFCB05;
  color: #00274c;
  border: 3px solid #00274c;
  border-radius: 8px;
  margin-bottom: 15px;
  height: 30px;
  width: 300px;
  font-size: 20px;
  padding-left: 2px;
}

.myform .entry:hover {
  background: #FFFFFF;
  font-weight: 700;
}

.myform .submit {
  background: #FFCB05;
  color: #00274c;
  border: 3px solid #00274c;
  border-radius: 8px;
  height: 30px;
  width: 100px;
  font-size: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.myform .submit:hover {
  background: #FFFFFF;
  font-weight: 700;
}

.myformre .entryre {
  background: #ffffff;
  color: #00274c;
  border: 3px solid #00274c;
  border-radius: 8px;
  margin-bottom: 15px;
  height: 30px;
  width: 300px;
  font-size: 20px;
  padding-left: 2px;
}

.myformre .entryre:hover {
  background: #FFFFFF;
  color: #00274c;
  font-weight: 700;
}

.myformre .submitre {
  background: #00274c;
  color: #ffffff;
  border: 3px solid #00274c;
  border-radius: 8px;
  height: 30px;
  width: 100px;
  font-size: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.myformre .submitre:hover {
  background: #FFFFFF;
  color: #00274c;
  font-weight: 700;
}

.grecaptcha-badge {
  visibility: hidden;
}

.smalltext {
  font-size: 9px;
  line-height: 9px;
}

.collapsible {
  color: #FFFFFF;
  background-color: #01265D;
  cursor: pointer;
  border: 1px solid #01265D;
  border-radius: 8px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  color: #01265D;
  font-weight: bold;
  background-color: #FFFFFF;
}

.active {
  background-color: #01265D;
}

.collapsible:after {
  content: "Show more";
}

.active:after {
  content: "Show less";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.button
{
  display: inline-block;
  width: 40%;
  border: 3px solid #01265D;
  text-align: center !important;
  vertical-align: middle !important;
  font-weight: 400;
  background-color: #01265D;
  border-radius: 8px;
  color: #FED41C !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow-x: auto;
  overflow-y: hidden;
  text-decoration: none;
}

.button a
{
  color: #FED41C;
}

.button a:hover
{
  color: #01265D !important;
  font-weight: bold;
}

.button:hover
{
  text-align: center !important;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 8px;
  color: #01265D !important;
}

.redbutton
{
  display: inline-block;
  width: 40%;
  border: 3px solid #ff0000;
  text-align: center !important;
  vertical-align: middle !important;
  font-weight: 400;
  background-color: #ff0000;
  border-radius: 8px;
  color: #01265D !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow-x: auto;
  overflow-y: hidden;
  text-decoration: none;
}

.redbutton a
{
  color: #FED41C;
}

.redbutton a:hover
{
  color: #ff0000 !important;
  font-weight: bold;
}

.redbutton:hover
{
  text-align: center !important;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 8px;
  color: #ff0000 !important;
}
