<!DOCTYPE html>
	<html>
	<html lang="en" dir="ltr">
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Michal T. Ruprecht" name="author">
    <meta name="keywords" content="flint justice partnership, umichfjp, umich fjp, fjp, umich flint water crisis, umichmcsp, mcsp umich, umich mcsp, mcsp flint, umich mcsp resources, flint resident resources, flint water distribution, flint pipe repair, flint social justice, flint lives matter, flint mari little miss flint, flint mona hanna attisha, flint organizations resources, resources for flint residents, umich flint resources, Food Bank of Eastern Michigan flint, crossing water flint, michigan community scholars program, flint justice partnership umich, umich flint, flint umich, how long is the flint water crisis, flint water crisis countup, michal ruprecht">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://umichfjp.github.io/main.css">
    <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');</style>
    <link rel="shortcut icon" async href="https://umichfjp.github.io/assets/favicon.ico"/>
    <style media="screen"></style>
    <script src="https://umichfjp.github.io/script.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LeKlaMUAAAAACjvfhYk02VhAUoXPevk1cwIyakd"></script>
    <script>
      grecaptcha.ready(function() {
        grecaptcha.execute('6LeKlaMUAAAAACjvfhYk02VhAUoXPevk1cwIyakd', {action: 'homepage'}).then(function(token) {
          ...
        });});
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141203061-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-141203061-1');
    </script>
  </head>


	<body>
		{{ content }}
			<footer>
        <div class="container">
					<h3><center><big>
							<a href="https://umichfjp.github.io/">About FJP</a>｜
							<a href="https://umichfjp.github.io/pages/resources">Resources for Flint Residents</a>｜
							<a href="https://umichfjp.github.io/pages/donate">Donate</a>｜
							<a href="https://umichfjp.github.io/pages/newsroom">Newsroom</a>｜
							<a href="https://umichfjp.github.io/pages/login">Login</a>
					</big>
						<br /><br />
          <b><big><big><big>Connect with us<font color="#FF0000">.</font></big></big></big></b>
             <br /><a class="containerbutton" href="mailto:UMich.FJP@umich.edu" target="_blank"><img src="https://umichfjp.github.io/assets/icons/mail.svg" alt="EMail" style="width:32px;"></a>
             <a class="containerbutton" href="https://maizepages.umich.edu/organization/fjp/" target="_blank" style="padding-top:0px;padding-bottom:7px;"><img src="https://umichfjp.github.io/assets/icons/block_m.png" alt="Block M" style="height:32px;margin-top:5px;"></a>
             <a class="containerbutton" href="https://twitter.com/umichfjp" target="_blank"><img src="https://umichfjp.github.io/assets/icons/twitter.svg" alt="Twitter" style="width:32px;"></a>
             <a class="containerbutton" href="https://facebook.com/umichfjp" target="_blank"><img src="https://umichfjp.github.io/assets/icons/facebook.svg" alt="Facebook" style="width:32px;"></a>
             <a class="containerbutton" href="https://instagram.com/umichfjp" target="_blank"><img src="https://umichfjp.github.io/assets/icons/instagram.svg" alt="Instagram" style="width:32px;"></a>
             <br /><br /><hr width="20%" size="2" color="#00274c"></hr>
             <br /><div class="smalltext">Site designed and created by <a href="https://michalruprecht.com/" target="_blank">Michal Ruprecht</a>.
							 <br />This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</div>
             Copyright © 2019 - <script>document.write(new Date().getFullYear())</script> Flint Justice Partnership. All Rights Reserved.
          </center></h3>
        </div>
			</footer>
		</body>
	</html>
