<!DOCTYPE html>
	<html>
	<html lang="en" dir="ltr">
	<html style="background-color:#4BB9F5;">
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Michal T. Ruprecht" name="author">
    <meta name="keywords" content="flint justice partnership, umichfjp, umich fjp, fjp, umich flint water crisis, umichmcsp, mcsp umich, umich mcsp, mcsp flint, umich mcsp resources, flint resident resources, flint water distribution, flint pipe repair, flint social justice, flint lives matter, flint mari little miss flint, flint mona hanna attisha, flint organizations resources, resources for flint residents, umich flint resources, Food Bank of Eastern Michigan flint, crossing water flint, michigan community scholars program, flint justice partnership umich, umich flint, flint umich, how long is the flint water crisis, flint water crisis countup, michal ruprecht">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://umichfjp.github.io/main.css">
    <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');</style>
    <link rel="shortcut icon" async href="https://umichfjp.github.io/assets/favicon.ico"/>
    <style media="screen"></style>
    <script src="https://umichfjp.github.io/script.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LeKlaMUAAAAACjvfhYk02VhAUoXPevk1cwIyakd"></script>
    <script>
      grecaptcha.ready(function() {
        grecaptcha.execute('6LeKlaMUAAAAACjvfhYk02VhAUoXPevk1cwIyakd', {action: 'homepage'}).then(function(token) {
          ...
        });});
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141203061-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-141203061-1');
    </script>
  </head>


	<body>
		<body style="background-color:#4BB9F5;">
		{{ content }}
		</body>
	</html>
